<!--<p>about works!</p>-->
<div class="jumbotron animated fadeIn">
    <h1 class="display-4">Hero app</h1>
    <p class="lead">Esta es una aplicacion SPA de Heroes de Marvel y DC.</p>
    <hr class="my-4">
    <p>Aqui vimos: </p>
    <ul class="list-group">
        <li class="list-group-item">Componentes mediante CLi</li>
        <li class="list-group-item">Varias formas de usar Bootstrap</li>
        <li class="list-group-item">Eventos de Angular</li>
        <li class="list-group-item">Rutas</li>
        <li class="list-group-item">RouterLink</li>
        <li class="list-group-item">Rutas Parametrizadas</li>
        <li class="list-group-item">Servicios(Proveedores)</li>
        <li class="list-group-item">Directivas estructurales</li>
        <li class="list-group-item">Directivas de atributo</li>
    </ul>
    <hr>
    <a class="btn btn-primary btn-lg" [routerLink]="['/home']" role="button">Learn more</a>
</div>