<!--HEROS COMPONENT ES PADRE DE HERO-CARD COMPONENT-->
<div class="fast fadeIn">
    <h2 class="h2 display-4 pb-4">
        Heroes <small> DC y Marvel</small>
    </h2>
    <div class="card-columns">
        <!--La declaracion let i = index contabiliza cada emision del ngFor*-->
        <!----------------------CODIGO DE LOS CARDS-------------------------->
        <!--Directiva estructural-->
        <!-- *ngFor="let Hero of ArrayHeros; let i = index"-->
        <!-- HERO-CARD ES EL COMPONENTE HIJO DE HEROS COMPONENT-->
        <!-- Hero es un objeto.-->
        <!-- [Propiedad del padre que lo esta escribiendo]-->

        <!--Llamar al codigo-->
        <app-hero-card [PadreHero]="Hero" [Index]="i" *ngFor="let Hero of ArrayHeros; let i = index"></app-hero-card>
        <!--Se comunicara el componente -->
        <!--Se agrega el ngFor para generar tantas card como nuestro arreglo tenga.-->
    </div>
</div>