<!--<p>buscador works!</p>-->
<!--HEROS COMPONENT ES PADRE DE BUSCADOR-CARDS COMPONENT-->

<div class="animated fadeIn">
    <!--<h2 class="h2 display-4 pb-4">
        Heroes <small> DC y Marvel</small>
    </h2>-->
    <h2 class="h2 display-4 pb-4">
        Resultados para <small> {{strBusqueda}}</small>
    </h2>

    <!-- *ngIf = Funciona en torno de un valor booleano -->
    <div *ngIf="Resultados.length === 0" class="alert alert-info animated fadeIn" role="alert">
        No se encuentran resultados para el termino "<b>{{strBusqueda}}</b>"
    </div>
    <!--
        IF
    si      no
    true    Else(false)
    -->

    <div class="card-columns" *ngIf="Resultados.length > 0">
        <!-- La declaracion let i = index contabiliaza cada emision del ngFor-->
        <app-hero-card [PadreHero]="Hero" [Index]="i" [Index]="Hero.index" *ngFor="let Hero of Resultados; let i = index"> </app-hero-card>
    </div>
</div>